<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dx.dao.IHelloDao">

    <!-- 增加一名用户 -->
    <insert id="addUser" parameterType="com.dx.entity.User">
        INSERT INTO user
        (name,age)
        VALUES
        (#{name},#{age})
    </insert>

    <!-- 查询所有用户 -->
    <select id="queryAllUser" resultType="com.dx.entity.User">
        SELECT * FROM user
    </select>

    <!-- 删除一名用户 -->
    <delete id="deleteUserById" parameterType="java.lang.Integer">
        DELETE FROM user WHERE
        id = #{id}
    </delete>

    <!-- 更新一名用户 -->
    <update id="updateUserById" parameterType="com.dx.entity.User">
        UPDATE user SET
        name = #{name},
        age = #{age}
        WHERE id = #{id}

    </update>
</mapper>